.form-control{
    background-color: #0f0c29; 
    color: white;
}

.fab{
    font-size: 2.2em;
    color: black;    
}
.fab:hover{
    color: rgba(43, 72, 204, 0.671);    
    transform: scale(1.2);
}